<div id="<%= dom_id genre %>">
    <p>
        <strong>Gênero:</strong>
        <%= genre.name %>
    </p>

    <% if genre.description.present? %>
    <p>
        <strong>Descrição:</strong>
        <%= genre.description %>
    </p>
    <% end %>
</div>