<div id="<%= dom_id genre %>" class="card shadow-sm mb-3">
  <div class="card-body">
    <h5 class="card-title"><%= genre.name %></h5>
    <% if genre.description.present? %>
      <p class="card-text">
        <strong>Descrição:</strong>
        <%= genre.description %>
      </p>
    <% end %>
  </div>
</div>