<% content_for :title, "Editar Gênero" %>

<div class="container mt-4">
  <h1>Editar Gênero</h1>
  <%= render "form", genre: @genre %>

  <div class="mt-3">
    <%= link_to "Exibir este Gênero", @genre, class: "btn btn-info" %>
    <%= link_to "Voltar para a lista", genres_path, class: "btn btn-secondary" %>
  </div>
</div>