<% content_for :title, "Editar Gênero" %>

<h1>Editar Gênero</h1>

<%= render "form", genre: @genre %>

<br>

<div>
  <%= link_to "Exibir este Gênero", @genre %> |
  <%= link_to "Voltar para a lista", genres_path %>
</div>
