<% content_for :title, "Cadastrar Gênero" %>

<div class="container mt-4">
  <h1>Cadastrar Gênero</h1>
  <%= render "form", genre: @genre %>

  <div class="mt-3">
    <%= link_to "Voltar para a lista", genres_path, class: "btn btn-secondary" %>
  </div>
</div>