<% content_for :title, "Editar Autor" %>

<h1>Editar Autor</h1>

<%= render "form", author: @author %>

<br>

<div>
  <%= link_to "Exibir este autor", @author %> |
  <%= link_to "Voltar para a lista", authors_path %>
</div>
