<% content_for :title, "Cadastrar Autor" %>

<div class="container mt-4">
  <h1>Cadastrar Autor</h1>
  <%= render "form", author: @author %>

  <div class="mt-3">
    <%= link_to "Voltar para a lista", authors_path, class: "btn btn-secondary" %>
  </div>
</div>