<p style="color: green"><%= notice %></p>

<% content_for :title, "Usu치rios" %>

<h1>Usu치rios</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Exibir este Usu치rio", user %>
    </p>
  <% end %>
</div>

<%= link_to "Cadastrar Usu치rio", new_user_path %>
