<div class="container">
  <div class="jumbotron mt-5">
    <h1 class="display-4">Bem-vindo ao My Bookshelf!</h1>
    <p class="lead">Seu sistema de gerenciamento de biblioteca para aluguel de livros sem complicações.</p>
    <hr class="my-4">

    <div class="row">
      <div class="col-md-6">
        <h2>Para Bibliotecas</h2>
        <p>Simplifique o gerenciamento de seus livros com nosso sistema fácil de usar.</p>
        <ul>
          <li>Gerencie todo o seu catálogo de livros</li>
          <li>Acompanhe os empréstimos e devoluções sem esforço</li>
          <li>Gere relatórios sobre livros populares e atividades dos membros</li>
          <li>Proporcione uma experiência melhor para seus leitores</li>
        </ul>
        <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais para Bibliotecas</a>
      </div>

      <div class="col-md-6">
        <h2>Para Leitores</h2>
        <p>Descubra e alugue seus livros favoritos online com facilidade.</p>
        <ul>
          <li>Navegue por uma ampla seleção de livros de bibliotecas participantes</li>
          <li>Gerencie seus empréstimos e prazos de devolução</li>
          <li>Faça reservas antecipadas de livros</li>
          <li>Desfrute de uma experiência de leitura sem interrupções</li>
        </ul>
        <a class="btn btn-success btn-lg" href="#" role="button">Explorar Livros Agora</a>
      </div>
    </div>

    <hr class="my-4">
    <p>Conecte-se com bibliotecas locais e comece a ler hoje mesmo!</p>
  </div>
</div>