<div id="<%= dom_id rental %>">
  <p>
    <strong>Rental date:</strong>
    <%= rental.rental_date %>
  </p>

  <p>
    <strong>Scheduled return date:</strong>
    <%= rental.return_estimate_date %>
  </p>

  <p>
    <strong>Actual return date:</strong>
    <%= rental.return_date %>
  </p>

</div>
