<div id="<%= dom_id rental %>">
  <p>
    <strong>Rental date:</strong>
    <%= rental.rental_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= rental.return_date %>
  </p>

  <p>
    <strong>Return estimate date:</strong>
    <%= rental.return_estimate_date %>
  </p>

</div>
