<div id="<%= dom_id rental %>" class="card shadow-sm mb-3">
  <div class="card-body">
    <p>
      <strong>Data do Empréstimo:</strong> <%= rental.rental_date %><br>
      <strong>Data de Devolução Prevista:</strong> <%= rental.return_estimate_date %><br>
      <strong>Data de Devolução Efetiva:</strong> <%= rental.return_date %>
    </p>
  </div>
</div>