<% content_for :title, "Editar Empréstimo" %>

<h1>Editar Empréstimo</h1>

<%= render "form", rental: @rental %>

<br>

<div>
  <%= link_to "Exibir este Empréstimo", @rental %> |
  <%= link_to "Voltar para a lista", rentals_path %>
</div>
