<div class="container mt-4">
  <%= render @rental %>

  <div>
    <%= link_to "Editar este Empréstimo", edit_rental_path(@rental), class: "btn btn-primary" %>
    <%= link_to "Voltar para a lista", rentals_path, class: "btn btn-secondary" %>

    <%= button_to "Excluir este Empréstimo", @rental, method: :delete, class: "btn btn-danger" %>
  </div>
</div>