<% content_for :title, "Editar Livro" %>

<h1>Editar Livro</h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to "Exibir este Livro", @book %> |
  <%= link_to "Voltar para a lista", books_path %>
</div>
