<% content_for :title, "Editar Livro" %>

<div class="container mt-4">
  <h1>Editar Livro</h1>
  <%= render "form", book: @book %>

  <div class="mt-3">
    <%= link_to "Exibir este Livro", @book, class: "btn btn-secondary" %>
    <%= link_to "Voltar para a lista", books_path, class: "btn btn-secondary" %>
  </div>
</div>