<% content_for :title, "Cadastrar Livro" %>

<div class="container mt-4">
  <h1>Cadastrar Livro</h1>
  <%= render "form", book: @book %>

  <div class="mt-3">
    <%= link_to "Voltar para a lista", books_path, class: "btn btn-secondary" %>
  </div>
</div>